.ad-card {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    height: 110px;
    width: 100%;
    gap: 10px;
    padding: 8px;
    border: 1px solid #f1f1f1;
    transition: .2s ease;
}

.ad-card:hover {
    transform: scale(1.02);
}

/* Imagen */
.ad-img {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.ad-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info */
.ad-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.ad-desc {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.ad-price {
    font-size: 15px;
    font-weight: bold;
    color: #d60000;
    margin: 0;
}

/* Móvil: 1 card por fila, pero más alta */
@media (max-width: 768px) {
    .ad-card {
        height: 130px;
    }
}
